html,
body {
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

body {
	min-height:100%;
}

#header,
#gallery {
	float:left;
	width:100%;
	margin:0;
	padding:0;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
          box-sizing:border-box;
}

#header {
	position:fixed;
	pointer-events:none;
	top:20vh;
	top:calc(20vh - 20px);
}

#header #title {
	float:left;
	width:100%;
	color:#000;
	font-size:48px;
	font-weight:bold;
	line-height:60px;
	letter-spacing:0.125rem;
	text-align:center;
	text-transform:uppercase;
	text-shadow:0 1px 30px rgba(255,255,255,0.1);
}

#about {
	cursor:pointer;
	position:fixed;
	font-size:1.5rem;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	line-height:2.5rem;
	letter-spacing:0.05rem;
	width:120px;
	bottom:calc(20vh - 0.5rem);
	left:calc(50vw - 60px);
}
#about:hover {
	background-color:#1DE9B6;
}

#about_info {
	cursor:default;
	z-index:1000;
	opacity:0;
	visibility:hidden;
	position:absolute;
	background:#fff;
	float:left;
	width:500px;
	max-height:480px;
	top:10vh;
	left:calc(50% - 250px - 60px);
	font-size:1.2rem;
	line-height:1.5rem;
	overflow-y:scroll;
	padding:60px;
	box-shadow:0px 0px 20px rgba(62,39,35,0.3);
}
#about_info a {
	color:#00BFA5;
	font-weight:bold;
	text-decoration:none;
	border-bottom:2px solid #00BFA5;
}
#about_info a:hover {
	color:#1DE9B6;
	border-bottom:2px solid #1DE9B6;
}

#about_info.show {
	opacity:1;
	visibility:visible;
}

/*#search_container {
	position:fixed;
	top:48px;
	left:20px;
}

#search_button {
	width:60px;
	height:20px;
}*/

#gallery {
	border:20px solid #fff;
}

.tile {
	float:left;
	background-color:#EFEBE9;
	background-repeat:no-repeat;
	background-size:400%;
	background-position:center;
	width:10%;
	height:20vh;
	height:calc(20vh - 8px);
	overflow:hidden;
	border-right:1px solid #FFF;
	border-bottom:1px solid #FFF;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
          box-sizing:border-box;
  -webkit-transition:background 120ms ease;
     -moz-transition:background 120ms ease;
      -ms-transition:background 120ms ease;
          transition:background 120ms ease;
}
.tile .anno {
	opacity:0;
	position:relative;
	float:left;
	width:100%;
	color:#000;
	font-weight:bold;
	font-size:1rem;
	line-height:20px;
	text-align:center;
	top:calc(20vh + 20px);
  -webkit-transition:opacity 120ms ease;
     -moz-transition:opacity 120ms ease;
      -ms-transition:opacity 120ms ease;
          transition:opacity 120ms ease;
}

.tile:hover {
	cursor:pointer;
	background-color:#E0F2F1;
	/*background-size:450%;*/
	border:3px solid #1DE9B6;
}
.tile:hover .anno {
	opacity:1;
	top:calc(20vh - 40px);
}

#lightbox {
  z-index:999;
	position:fixed;
	visibility:hidden;
	opacity:0;
  background:rgba(255,255,255,0.1);
  width:100vw;
  height:100vh;
 -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
#lightbox.show {
	visibility:visible;
	opacity:1;
}
#lightbox #zoomed_tile {
  z-index:1000;
  position:fixed;
	background-color:#EFEBE9;
	background-repeat:no-repeat;
	background-size:cover;
  width:100vh;
  height:100vh;
	left:calc((100vw - 100vh)/2);
	top:0;
	/*border:10px solid #fff;*/
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
          box-sizing:border-box;
  -webkit-transition:opacity 120ms ease;
     -moz-transition:opacity 120ms ease;
      -ms-transition:opacity 120ms ease;
          transition:opacity 120ms ease;
  -webkit-box-shadow:0px 0px 20px rgba(62,39,35,0.3);
     -moz-box-shadow:0px 0px 20px rgba(62,39,35,0.3);
      -ms-box-shadow:0px 0px 20px rgba(62,39,35,0.3);
          box-shadow:0px 0px 20px rgba(62,39,35,0.3);
}
#lightbox #zoomed_anno {
	position:relative;
	float:left;
	width:100%;
	font-size:1.5rem;
	font-weight:bold;
	line-height:60px;
	text-align:center;
	top:calc(100% - 90px);
	left:0;
}

#no-results {
	visibility:hidden;
	opacity:0;
	position:absolute;
	left:20px;
}
#no-results.show {
	visibility:visible;
	opacity:1;
}



@media (max-width: 750px) {
	#about_info {
		width:100%;
		width:calc(100% - 120px);
		top:0;
		left:0;
	}
}