html,
body {
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

body {
	min-height:100%;
}

#header,
#gallery {
	float:left;
	width:100%;
	margin:0;
	padding:0;
	border:2px solid #FFF;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
          box-sizing:border-box;
}

#header {
	position:fixed;
	background:#FFF;
	height:120px;
}

#header #title {
	float:left;
	width:100%;
	font-size:20px;
	font-weight:bold;
	line-height:116px;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:0.025rem;
}

#search_container {
	position:fixed;
	top:48px;
	left:20px;
}

#search_button {
	width:60px;
	height:20px;
}

#gallery {
	margin-top:116px;
}

.tile {
	float:left;
	background-color:#ECEBE6;
	background-repeat:no-repeat;
	background-size:cover;
	width:25vw;
	width:calc(25vw - 1px);
	height:35vw;
	overflow:hidden;
	border:2px solid #FFF;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
          box-sizing:border-box;
}
.tile.AK {
	width:50vw;
	width:calc(50vw - 2px);
}

.tile:hover {
	cursor:pointer;
}