html,
body {
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

body {
	min-height:100%;
}

#header,
#gallery {
	float:left;
	width:100%;
	margin:0;
	padding:0;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
          box-sizing:border-box;
}

#header {
	position:fixed;
}

#header #title {
	float:left;
	width:100%;
	font-size:20px;
	font-weight:bold;
	line-height:116px;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:0.025rem;
}

/*#search_container {
	position:fixed;
	top:48px;
	left:20px;
}

#search_button {
	width:60px;
	height:20px;
}*/

.tile {
	float:left;
	background-color:#ECEBE6;
	background-repeat:no-repeat;
	background-size:300%;
	background-position:center;
	width:10%;
	height:20vh;
	overflow:hidden;
	border-right:1px solid #FFF;
	border-bottom:1px solid #FFF;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
          box-sizing:border-box;
  -webkit-transition:background 120ms ease;
     -moz-transition:background 120ms ease;
      -ms-transition:background 120ms ease;
          transition:background 120ms ease;
}

.tile:hover {
	cursor:pointer;
	background-size:400%;
}

#lightbox {
  z-index:999;
	position:fixed;
	visibility:hidden;
	opacity:0;
  background:rgba(255,255,255,0.1);
  width:100vw;
  height:100vh;
 -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
#lightbox.show {
	visibility:visible;
	opacity:1;
}
#lightbox #zoomed_tile {
  z-index:1000;
  position:fixed;
	background-color:#ECEBE6;
	background-repeat:no-repeat;
	background-size:cover;
	left:20vw;
	top:0;
	top:calc((100vh - 60vw)/2);
  width:60vw;
  height:60vw;
  -webkit-transition:opacity 120ms ease;
     -moz-transition:opacity 120ms ease;
      -ms-transition:opacity 120ms ease;
          transition:opacity 120ms ease;
  -webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.2);
     -moz-box-shadow:0px 0px 20px rgba(0,0,0,0.2);
      -ms-box-shadow:0px 0px 20px rgba(0,0,0,0.2);
          box-shadow:0px 0px 20px rgba(0,0,0,0.2);
}

#no-results {
	visibility:hidden;
	opacity:0;
	position:absolute;
	left:20px;
}
#no-results.show {
	visibility:visible;
	opacity:1;
}